.container{
  margin: 10px 50px;
  align-items: center;
  text-align: center;
  background-color: beige;
}
h1{
  color: dimgrey;
  text-decoration:underline;
  text-underline-position: below;
  text-decoration-color: firebrick;
  font-size: xx-large;
}
h2{
  background-color: black;
  color: white;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 8px;
}
h3{
  background-color: brown;
  color: beige;
  border-radius: 25px;
  text-transform: capitalize;
  padding: 10px;
}
span{
  border-radius: 30px;
  font-size: xx-large;
  border: 2px solid red;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
span:hover{
  background-color: red;
}
